@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
p{
  color: #16302B;
  font-family: kaisei decol;
  text-align: center;
}

#test-id-1{
  color: purple;
}

.test-class{
  text-shadow: 2px 2px red;
}

a:link{
  color: #1F7C4A;
}

a:visited{
  color: #807182;
}

a:hover{
  color: #44A340;
}

button:default{
  color:#16302B;
  border-radius: 20px;

}


button:visited{
  color:#807182;
  border-radius: 20px;
}

button:hover{
  color:#C4C4C4;
  border-radius: 20px;
}

h1{
  font-family: amiri;
  font-size: 300%;
  color: #16302B;
}
