@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
body{
  background-color: #DCE1DE;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
h1{
  font-weight: 300px;
  font-family: amiri;
  font-size: 300%;
  color: #16302B;
}
strong{font-weight: 800px;}

button{
  transition: all 1000ms ease-in-out;
  font-size: 40px;
  border-radius: 20px;
    color: #629460;
}
  .was-clicked{
  color: purple;
  padding: 20px;
  font-size: 100px;
  }
.was-mouseover{
  color: blue;
  font-size: 16px;
  padding: 20px;
}
